body,td,th {
	font-size: 0.74em;
}
body {
	background-repeat: repeat-x;
	background-color: #DADADA;
}
.style3 {color: #304D6F}
.style6 {color: #FFFFFF}

.style7 {
	color: #F8F9F9
}
.style8 {color: #E0E0E0}
.style9 {
	color: #1D2736;
	font-weight: bold;
}
.style10 {color: #1D2736}
.style11 {color: #333333}
.style12 {color: #FF0000}
.style16 {font-size: 12px}
.style18 {color: #5A79A5}
.style23 {
	color: #9B2525;
	font-weight: bold;
}
.style25 {color: #112451}
.style27 {
	color: #304D6F;
	font-size: 12px;
}
.style28 {color: #112451; font-weight: bold; }
.style29 {color: #A12525}
.style30 {font-size: 14px}
.style31 {
	color: #112451;
	font-weight: bold;
	font-size: 12px;
}
.style34 {font-size: 12px; color: #AB2828; }
.style35 {
	color: #436294;
	font-weight: bold;
}
.style43 {font-size: 12px; color: #990000; }
.style44 {
	color: #1F456C;
	font-weight: bold;
	font-size: 16px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.style45 {font-size: 18px}
.style46 {color: #304D6F; font-size: 10px; }
.style47 {font-size: 10px}
.style50 {color: #FFFFFF; font-weight: bold; }
.style51 {color: #2A4E57}
-->
* { margin: 0; padding: 0; }
body { font: .65em Tahoma, Verdana, Sans-Serif, Arial;color: #0f37a9; al }
h1 { font: normal 3.4em "Trebuchet MS", Helvetica, Arial; }
h2 { font: normal 1.8em "Trebuchet MS", Helvetica, Arial; color: #dfdfdf; margin: 0 0 15px; }
h3 { font: normal 1.4em "Trebuchet MS", Helvetica, Arial; margin: 0 0 20px; }
h4 { font: normal 1.2em "Trebuchet MS", Helvetica, Arial; color: #dfdfdf; margin: 0 0 4px; }
p { margin: 0 0 15px; line-height: 1.6em; color:#E0E0E0; font-size:12px;}
a { outline: 0; color: #304D6F; text-decoration: none; }
li { list-style: none; }
li a, img { display: block; }
.whitelink {color: #FFFFFF}
#wrapper { width: 984px; margin: auto; }
.clr { clear: both; }
#logo {padding: 30px 15px; text-align:-9999px; }
	#logo h1 a { color: #fff; }
		#logo h1 a span { color: #808080; }
#menu { height: 44px; padding: 5px 0 0 4px; }
	#menu li { float: left; font-size: 12px; text-transform: uppercase; }
		#menu li a { color: #888; margin: 0 15px 0 0; color:#FFFFFF  }
			#menu li a.current, #menu li a:hover { color: #9EB7D6; }			
	#pitch { clear: both; background: url(../images/pitch.gif) no-repeat; height: 290px; margin: 0 0 25px; padding: 5px 360px 0 30px; background-position:center; }
		#pitch h1 { font-size: 2.4em; color: #304D6F; margin: 0 0 20px; }
		#pitch em { font-size: 1.3em; font-weight: bold; line-height: 1.6em; }
.content { background-color:#1f456c;padding: 20px; }
.link { background: #0F2133; color: #fff; padding: 5px 10px; font-size: .9em; }
#main { padding: 20px; background-color:#FFFFFF; }
.col1 { float: left; width: 585px; margin: 0 30px 15px 0; }
.col { float: left; width: 292px; margin: 0 30px 15px 0; }
	.col.last { float: right; margin-right: 0; }
	.short { padding: 0 0 15px 0;}
	.case a, .article a { color: #304D6F; font-weight: bold; }
	.date { font-size: .84em; margin: 0 0 3px; }
#footer { clear: both; padding: 20px 20px 10px; font-size: .9em; }
	#footer a { color: #1f456c; margin: 0 10px 0 0; border-bottom: 1px dotted #444; padding: 0 0 1px; }
	#links { float: right; }
		#links a { margin: 0 0 0 10px; margin:5px; }
	#footer p { margin: 0 0 8px; }
<!--

